.App {
  font-family: sans-serif;
  text-align: center;
}

.publication-container {
  margin-bottom: 1rem;
}

.publication-info {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.publication-links {
  display: inline;
  margin-left: 0.5rem;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.publication-links li {
  display: inline;
}

.publication-links li:not(:last-child)::after {
  content: ", ";
}
